ADMIN_PASSWORD=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=
COMPILER_PROVIDER=
GEMINI_API_KEY=
JUDGE0_API_KEY=
JUDGE0_HOST=
JWT_SECRET=
MONGODB_URI=
PORT=3000
RAPIDAPI_KEY=
