# Admin Credentials
ADMIN_PASSWORD=@dmin68629

# JWT Secret
JWT_SECRET=7f3a9d2e8b1c4f6a0e5d9b3c7a1f8e2d4b6c9a0f3e7d1b5c8a2f6e9d3b7c1a4f

# MongoDB
MONGODB_URI=mongodb+srv://nani68629_db_user:NANI68629@zipsharedb.mzr1xxg.mongodb.net/zipshare?appName=ZipShareDB

# Cloudinary
CLOUDINARY_CLOUD_NAME=wzqwwg5q
CLOUDINARY_API_KEY=549796559978942
CLOUDINARY_API_SECRET=mdPW9yBQbIJ3F4cNOPxMqlYd3lE